@import "_mixins.scss";

@font-face {
    font-family: "Gotham-medium"; 
    src: url(../fonts/Gotham-Medium-Regular.ttf); 
}

@font-face{
    font-family: "Gotham - Book"; 
    src: url(../fonts/GothamBook.ttf); 
}
    
@font-face{
    font-family: "Gotham - Bold"; 
    src: url(../fonts/gothambold1.ttf);
} 

@font-face {
    font-family: "Open-Sans"; 
    src: url(../fonts/OpenSans-Regular.ttf);
   }
   

header{
width: 100%;
height: 800px;
background-color: #4b4b4b;
background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}
.top{
    position: absolute;
    z-index: 2;
    padding: 53px 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
width: 595px;

 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li{
       display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    .menu-mark{
        width: 9px;
        height: 9px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        
    }

       a{
        padding-left: 14px;
        color: #ffffff;
        font-family: "Gotham - Book";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
    }
}
}
}
li:hover div{
    background-color: #fff;
}
.social-media{
    width: 162px;
    height: 40px;
    margin-left: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
.circle{
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    a{
        margin: 0 auto;
        color: #ffffff;
    }
}
}

.slide-text {
    h1{
color: #ffffff;
font-family: "Gotham-medium";
font-size: 80px;
font-weight: 700;
line-height: 22px;
text-transform: uppercase;
letter-spacing: 4px;
}
p{
color: #ffffff;
font-family: "Gotham - Book";
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
letter-spacing: 5.4px;
}
}

.arrow{
    position: absolute;
    top: 70%;
    left: 50%;
}
// **********What_we_do**************************************************
#what_we_do{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .heading1{
        @include heading;
        h2{
        color: #2c4058;
    }
    &:before{
    background-color: #000;
    @include line_before;
    }
}
}

.trade-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .trade-text{
        margin-left: 329px;
    }
    .pictures{
        display: flex;
        flex-direction: column;
        position: relative;
        .blue{
            
            position: absolute;
            width: 585px;
            height: 470px;
            background-color: #55b7ff;
        }
        .pic1{
            width: 630px;
            height: 470px;
            z-index: 2;
            transform: translate(260px, 70px);
        }
    }
}

    .text-content{
        width: 460px;
        
        h4{
            font-family: "Gotham - Book";
            font-size: 22px;
            font-weight: 400;
            color: #2c4058;
            text-transform: uppercase;
        }
        h2{
            margin-top: 0px;
            margin-bottom: 39px;
            font-family: "Gotham - Bold";
            font-weight: 700;
            color: #2c4058;
            font-size: 44px;
            text-transform: uppercase;
            }
            p{
                
                margin-top: 0px;
                margin-bottom: 36px;
                color: #4b5562;
                font-family: "Open-Sans";
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
            }
            a{
                margin-top: 0px;
                margin-bottom: 60px;
                @include button;
            }
            em{
                color: #2c4058;
                font-family: "Open-Sans";
                font-size: 18px;
                line-height: 30px;
            }
            
        
        }
    
.commerce-center{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .commerce-text{
       margin-right: 329px; 
    }
    .pictures{
        display: flex;
        flex-direction: column;
        position: relative;
        .purple{
            
            position: absolute;
            width: 585px;
            height: 470px;
            background-color: #7e5aff;
        }
        .pic1{
            width: 630px;
            height: 470px;
            z-index: 2;
            transform: translate(-260px, 70px);
        }
    }
}

// ***NEWS********************************************************************
#news{
margin-top: 140px;
width: 100%;
height: 1035px;
background-color: #ffffff;
background-image: linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);

    .heading1{
        @include heading;
        h2{
            color: #ffffff;
        &::before{
            background-color: white;
            @include line_before;
        }
     }
    }
    .slider2{
        margin: 0px 215px 309px 215px;
.slide{
width: 370px;
height: 514px;
margin: 0 15px;
background-color: #ffffff;
display: flex;
flex-direction: column;
justify-content: space-between;
img{
    opacity: 1;
}
.slide-text2{
margin-left: 20px;
h3{
color: #2c4058;
font-family: "Gotham-medium";
font-size: 22px;
font-weight: 700;
line-height: 34px;
text-transform: uppercase;
}
p{
color: #4b5562;
font-family: "Open Sans";
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    align-items: center;
    img{
        opacity: 1;
         margin: 0;
        width: 60px;
        height: 60px;
    }
    .author_text{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
        h4{
            margin: 0;
            color: #2c4058;
            font-family: "Gotham - Book";
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
        }
        p{
            color: #55b7ff;
            font-family: "Gotham - Book";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin: 0;
                    }
    }
}
}
}
.slick-dots li button:before{
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 9px;
    height: 9px;
}
.slick-dots li.slick-active button:before{
    color: white;
}
}

}

// ***gallery****************************************************************

#gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .heading1{
        @include heading; 
        padding-bottom: 0;
        h2{
            color: #2c4058;;
        &::before{
            background-color: #2c4058;;
            @include line_before;
        }
     }  
    }
    a{
        margin-top: 60px;
        margin-bottom: 140px;
        text-decoration: none;
        @include button;
    }
}
.gallery-wrapper{
    display: grid;
    grid-template-columns: 580px 285px 285px;
    grid-template-rows: repeat(2, 215px);
    gap: 10px;
    margin-right: 215px;
    margin-left: 215px;
    .i1{
    width: 580px;
    height: 438px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    opacity: 0.8;
    }
    img:not(1){
    width: 285px;
    height: 214px;
    }
    .i2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .i3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    }
    .i4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    }
    .i5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    }

}
// ***MAP***************************************************
#map{
    width: 100%;
    height: 700px;
    
}

// ***contacts*******************************************************
#contacts{
    
    width: 770px;
    height: 450px;
    position: relative;
    bottom: 300px;
    margin: 0 auto;
    box-shadow: 0 -4px 30px rgba(133, 133, 133, 0.2);
    background-color: #ffffff;
    background-image: url(../imgs/6Bg.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .heading1{
        @include heading; 
        padding-bottom: 0;
        padding-top: 60px;
        h2{
            color: #2c4058;
            margin-block-end: 0;
            margin-block-start: 0;
        &::before{
            background-color: #2c4058;;
            @include line_before;
        }
     }  
    }

}
.contacts-wrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}
.contact-info{
    width: 288px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
        margin-top: auto;
        color: #2c4058;
        font-family: "Gotham - Book";
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        i{
        color: #7e5aff;
        }
        a{
            color: #2c4058;
            text-decoration: none;
        }
    }  
}

    
form{
    margin-left: 52px;
    display: flex;
    flex-direction: column;
    input{
        width: 310px;
        height: 55px;
        border: none;
        border-bottom: 1px solid  #2c4058;
        opacity: 0.2;
        &:focus{
            opacity: 1;
        }
    }
    button{
        width: 140px;
        margin-top: 30px;
        margin-left: 170px;
        @include button;
        background-color: white;
    }
}
// ***Footer**********************************************************
footer{
    width: 100%;
    height: 524px;
    background: 
    linear-gradient(45deg,
    rgba(60, 27, 212, 0.9),
    rgba(36, 204, 250, 0.9)),
    //  #55b7ff 0%, #7e5aff 100%),
    url(../imgs/7footer.png),
    no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.footer-wrapper{
position: absolute;
width: 770px;
margin: 204px auto;
display: flex;
flex-direction: row;
justify-content: space-between;
.content{
    div{
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        p{
            color: #ffffff;
            font-family: "Gotham-Book", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            &:first-of-type{
                padding-right: 30px;
                border-right: 2px solid 
                rgba(255, 255, 255, 0.4);;
                
            }
            &:last-of-type{
                padding-left: 30px;
            }
        }
    }
}
}

